@font-face {
	font-family: "iconfont";
	src: url('../fonts/font_976687_8yex8u9lsp.eot');
	/* IE9 */
	src: url('../fonts/font_976687_8yex8u9lsp.eot') format('embedded-opentype'),
		/* IE6-IE8 */
		url('../fonts/b1561b6e6b86482f8dc1a5353c33b24e.woff') format('woff2'),
		url('../fonts/font_976687_8yex8u9lsp.woff') format('woff'),
		url('../fonts/font_976687_8yex8u9lsp.ttf') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
		url('../fonts/font_976687_8yex8u9lsp.svg') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-code:before {
	content: "\e60c";
}

.icon-rmb:before {
	content: "\e612";
}

.icon-user:before {
	content: "\e601";
}

.icon-home:before {
	content: "\eb1b";
}

.icon-earth:before {
	content: "\e60b";
}

.icon-hot:before {
	content: "\e6b2";
}

.icon-star:before {
	content: "\ed1b";
}

.icon-arrow-right-copy:before {
	content: "\e602";
}

.icon-coordinate:before {
	content: "\e768";
}

.icon-warning:before {
	content: "\e836";
}

.icon-c-language:before {
	content: "\e630";
}

.icon-check:before {
	content: "\e642";
}

.icon-key:before {
	content: "\e607";
}

.icon-light:before {
	content: "\e603";
}

.icon-weibo:before {
	content: "\e869";
}

.icon-edit:before {
	content: "\e6b3";
}

.icon-qzone:before {
	content: "\e639";
}

.icon-error:before {
	content: "\e65c";
}

.icon-palette:before {
	content: "\e74f";
}

.icon-plus:before {
	content: "\e867";
}

.icon-compass:before {
	content: "\e60a";
}

.icon-exclamation:before {
	content: "\e61c";
}

.icon-QQ:before {
	content: "\e68c";
}

.icon-url-shorten:before {
	content: "\e62f";
}

.icon-c-webmaster:before {
	content: "\e68e";
}

.icon-lock:before {
	content: "\e8d4";
}

.icon-lock-open:before {
	content: "\e8d5";
}

.icon-photoshot:before {
	content: "\e61a";
}

.icon-c-general-query:before {
	content: "\e65b";
}

.icon-note-o:before {
	content: "\e604";
}

.icon-preview:before {
	content: "\e611";
}

.icon-walk:before {
	content: "\e710";
}

.icon-c-image:before {
	content: "\e60d";
}

.icon-more-circle:before {
	content: "\e60f";
}

.icon-comment-o:before {
	content: "\e613";
}

.icon-reply:before {
	content: "\e643";
}

.icon-scan:before {
	content: "\e6dd";
}

.icon-image:before {
	content: "\e605";
}

.icon-fan:before {
	content: "\e608";
}

.icon-c-textual:before {
	content: "\e712";
}

.icon-user-o:before {
	content: "\e64b";
}

.icon-question-circle:before {
	content: "\e610";
}

.icon-c-generator:before {
	content: "\e809";
}

.icon-sunrise:before {
	content: "\e662";
}

.icon-sunset:before {
	content: "\e663";
}

.icon-file-text:before {
	content: "\e69c";
}

.icon-wechat:before {
	content: "\e634";
}

.icon-setting-o:before {
	content: "\e669";
}

.icon-exchange-arrow:before {
	content: "\e6bc";
}

.icon-printer:before {
	content: "\e618";
}

.icon-temperature:before {
	content: "\e64c";
}

.icon-list:before {
	content: "\e606";
}

.icon-link-external:before {
	content: "\e7bb";
}

.icon-currency:before {
	content: "\e629";
}

.icon-c-ecommercial:before {
	content: "\e60e";
}

.icon-upload:before {
	content: "\e61b";
}

.icon-logout:before {
	content: "\e72a";
}

.icon-link:before {
	content: "\e7c6";
}

.icon-color:before {
	content: "\e84a";
}

.icon-c-conversion:before {
	content: "\e69d";
}

.icon-exchange:before {
	content: "\e609";
}

.icon-c-encoding:before {
	content: "\e680";
}

.icon-c-encrypt:before {
	content: "\e9dd";
}

.icon-c-development:before {
	content: "\eb0f";
}

.icon-qrcode-o:before {
	content: "\e600";
}

.icon-heart-o:before {
	content: "\e67e";
}

.icon-weather:before {
	content: "\e62a";
}
